---
vars_file_password: foo
blah: blaggh
vars_file_apikey: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  62336237306235353835636163343738326335393436373639373264633039623438323862623466
  3736333963613635313734373262653536316262373464650a636166356135333939313039663633
  32653936616430663462636331633464366565643965613236616332376232353962316464353938
  3833613332626331370a386638663865306536393365313735326364663366633164346335633939
  6366
